In [2]:
phonebook1={'123-45-67','234-56-78','345-67-89','123-45-67','345-67-89'}
print(phonebook1)
set_len=len(phonebook1)
print("the length of the phonebook is:",set_len)
print("the phonebook is:",phonebook1)

{'345-67-89', '234-56-78', '123-45-67'}
the length of the phonebook is: 3
the phonebook is: {'345-67-89', '234-56-78', '123-45-67'}

In [7]:
mix_data={'usman institute of technology',17.5,(1,2,3,4,5,6)}
print(mix_data)
set_len=len(mix_data)
print("the length of a mix data is:",set_len)

{17.5, 'usman institute of technology', (1, 2, 3, 4, 5, 6)}
the length of a mix data is: 3

In [18]:
datascientist=set(['python','r','sql','git','tableu','sas'])
dataengineer=set(['python','java','scala','git','sql','hadoop'])
print("for a data scientist specialization you need:",datascientist)
print("for a data engineer specialization you need:",dataengineer)

for a data scientist specialization you need: {'python', 'tableu', 'sql', 'sas', 'r', 'git'}
for a data engineer specialization you need: {'python', 'sql', 'java', 'hadoop', 'scala', 'git'}

In [20]:
my_empty_set=set()
my_empty_dictionary1=dict()
my_empty_dictionary2={}

print(my_empty_set)
print(my_empty_dictionary1)
print(my_empty_dictionary2)

set()
{}
{}

In [5]:
my_topstudents={'bassam','usman','rafeh','ahad','wadood','yusra','asma'}
print("my top scoring students in programming fundamentals are:",my_topstudents)
print("oh!i guess i miss one student ,let me add his name")
print("previously i have added:"+str(len(my_topstudents))+'students in my list')
my_topstudents.add('khurram')
print('thanks, i have remember him')
print("now my top scoring students are:",my_topstudents)
print("now after adding i have :"+ str(len(my_topstudents))+  "  STUDENTS In my list")

my top scoring students in programming fundamentals are: {'bassam', 'wadood', 'ahad', 'asma', 'yusra', 'usman', 'rafeh'}
oh!i guess i miss one student ,let me add his name
previously i have added:7students in my list
thanks, i have remember him
now my top scoring students are: {'khurram', 'bassam', 'wadood', 'ahad', 'asma', 'yusra', 'usman', 'rafeh'}
now after adding i have :8  STUDENTS In my list

In [7]:
my_topstudents={'bassam','usman','rafeh','ahad','wadood','yusra','asma'}
print("my top scoring students in programming fundamentals are:",my_topstudents)
print("oh!i guess i miss one student ,let me add his name")
print("previously i have added:"+str(len(my_topstudents))+'students in my list')
my_topstudents.add('khurram khalil')
my_topstudents.add('khurram khan')
print('thanks, i have remember him')
print("now my top scoring students are:",my_topstudents)
print("now after adding i have :"+ str(len(my_topstudents))+  "  STUDENTS In my list")
print("oh i guess i have added one student with similar name,let me remove his name")
my_topstudents.remove('khurram khalil')
print("now my top scoring students after removing extra name are :",my_topstudents)
print("now after removing i have:"+str(len(my_topstudents))+"students in my list")

my top scoring students in programming fundamentals are: {'bassam', 'wadood', 'ahad', 'asma', 'yusra', 'usman', 'rafeh'}
oh!i guess i miss one student ,let me add his name
previously i have added:7students in my list
thanks, i have remember him
now my top scoring students are: {'bassam', 'wadood', 'ahad', 'asma', 'yusra', 'usman', 'khurram khalil', 'khurram khan', 'rafeh'}
now after adding i have :9  STUDENTS In my list
oh i guess i have added one student with similar name,let me remove his name
now my top scoring students after removing extra name are : {'bassam', 'wadood', 'ahad', 'asma', 'yusra', 'usman', 'khurram khan', 'rafeh'}
now after removing i have:8students in my list

In [9]:
my_topstudents={'bassam','usman','rafeh','ahad','wadood','yusra','asma'}
print("my top scoring students in programming fundamentals are:",my_topstudents)
print("oh!i guess i miss one student ,let me add his name")
print("previously i have added:"+str(len(my_topstudents))+'students in my list')
my_topstudents.add('khurram khalil')
my_topstudents.add('khurram khan')
print('thanks, i have remember him')
print("now my top scoring students are:",my_topstudents)
print("now after adding i have :"+ str(len(my_topstudents))+  "  STUDENTS In my list")
print("oh i guess i have added one student with similar name,let me remove his name")
my_topstudents.remove('khurram khalil')
print("now my top scoring students after removing extra name are :",my_topstudents)
print("now after removing i have:"+str(len(my_topstudents))+"students in my list")
my_topstudents.discard('khurram khalil')
print("now my top scoring students after removing extra name are :",my_topstudents)
print("now after removing i have:"+str(len(my_topstudents))+"students in my list")

my top scoring students in programming fundamentals are: {'bassam', 'wadood', 'ahad', 'asma', 'yusra', 'usman', 'rafeh'}
oh!i guess i miss one student ,let me add his name
previously i have added:7students in my list
thanks, i have remember him
now my top scoring students are: {'bassam', 'wadood', 'ahad', 'asma', 'yusra', 'usman', 'khurram khalil', 'khurram khan', 'rafeh'}
now after adding i have :9  STUDENTS In my list
oh i guess i have added one student with similar name,let me remove his name
now my top scoring students after removing extra name are : {'bassam', 'wadood', 'ahad', 'asma', 'yusra', 'usman', 'khurram khan', 'rafeh'}
now after removing i have:8students in my list
now my top scoring students after removing extra name are : {'bassam', 'wadood', 'ahad', 'asma', 'yusra', 'usman', 'khurram khan', 'rafeh'}
now after removing i have:8students in my list

In [11]:
my_topstudents={'bassam','usman','rafeh','ahad','wadood','yusra','asma'}
print("my top scoring students in programming fundamentals are:",my_topstudents)
print("oh!i guess i miss one student ,let me add his name")
print("previously i have added:"+str(len(my_topstudents))+'students in my list')
my_topstudents.add('khurram khalil')
my_topstudents.add('khurram khan')
print('thanks, i have remember him')
print("now my top scoring students are:",my_topstudents)
print("now after adding i have :"+ str(len(my_topstudents))+  "  STUDENTS In my list")
print("oh i guess i have added one student with similar name,let me remove his name")
my_topstudents.remove('khurram khalil')
print("now my top scoring students after removing extra name are :",my_topstudents)
print("now after removing i have:"+str(len(my_topstudents))+"students in my list")
my_topstudents.discard('khurram khalil')
print("now my top scoring students after removing extra name are :",my_topstudents)
print("now after removing i have:"+str(len(my_topstudents))+"students in my list")
my_topstudents.pop()
print("now my top scoring students after removing extra name are :",my_topstudents)
print("now after removing i have:"+str(len(my_topstudents))+"students in my list")

my top scoring students in programming fundamentals are: {'bassam', 'wadood', 'ahad', 'asma', 'yusra', 'usman', 'rafeh'}
oh!i guess i miss one student ,let me add his name
previously i have added:7students in my list
thanks, i have remember him
now my top scoring students are: {'bassam', 'wadood', 'ahad', 'asma', 'yusra', 'usman', 'khurram khalil', 'khurram khan', 'rafeh'}
now after adding i have :9  STUDENTS In my list
oh i guess i have added one student with similar name,let me remove his name
now my top scoring students after removing extra name are : {'bassam', 'wadood', 'ahad', 'asma', 'yusra', 'usman', 'khurram khan', 'rafeh'}
now after removing i have:8students in my list
now my top scoring students after removing extra name are : {'bassam', 'wadood', 'ahad', 'asma', 'yusra', 'usman', 'khurram khan', 'rafeh'}
now after removing i have:8students in my list
now my top scoring students after removing extra name are : {'wadood', 'ahad', 'asma', 'yusra', 'usman', 'khurram khan', 'rafeh'}
now after removing i have:7students in my list

In [13]:
my_topstudents={'bassam','usman','rafeh','ahad','wadood','yusra','asma'}
print("my top scoring students in programming fundamentals are:",my_topstudents)
print("lets clear list and prepare new list for the finals :")
my_topstudents=my_topstudents.clear()
print("now after clearing the set i have :",my_topstudents)

my top scoring students in programming fundamentals are: {'bassam', 'wadood', 'ahad', 'asma', 'yusra', 'usman', 'rafeh'}
lets clear list and prepare new list for the finals :
now after clearing the set i have : None

In [21]:
phonebook1={'123-45-67','234-56-78','345-67-89','123-45-67','345-67-89'}
phonebook2={'345-67-89','456-78-90'}
print("phonebook1 is:",phonebook1)
print("phonebook2 is:",phonebook2)
print("the union of phonebook1 and phonebook2 is:",phonebook1|phonebook2)
print("the union of phonebook2 and phonebook1 is:",phonebook2|phonebook1)
print("the intersection of phonebook1 and phonebook2 is:",phonebook1&phonebook2)
print("the intersection of phonebook2 and phonebook1 is:",phonebook2&phonebook1)
print("the difference of phonebook1 and phonebook2 is:",phonebook1-phonebook2)
print("the difference of phonebook2 and phonebook1 is:",phonebook2&phonebook1)
print("the symmetric difference between phonebook1 and phonebook2 is:",phonebook1^phonebook2)
print("the symmetric difference between phonebook2 and phonebook1 is:",phonebook2^phonebook1)

phonebook1 is: {'123-45-67', '345-67-89', '234-56-78'}
phonebook2 is: {'345-67-89', '456-78-90'}
the union of phonebook1 and phonebook2 is: {'123-45-67', '345-67-89', '234-56-78', '456-78-90'}
the union of phonebook2 and phonebook1 is: {'234-56-78', '123-45-67', '345-67-89', '456-78-90'}
the intersection of phonebook1 and phonebook2 is: {'345-67-89'}
the intersection of phonebook2 and phonebook1 is: {'345-67-89'}
the difference of phonebook1 and phonebook2 is: {'123-45-67', '234-56-78'}
the difference of phonebook2 and phonebook1 is: {'345-67-89'}
the symmetric difference between phonebook1 and phonebook2 is: {'123-45-67', '456-78-90', '234-56-78'}
the symmetric difference between phonebook2 and phonebook1 is: {'123-45-67', '456-78-90', '234-56-78'}

In [35]:
best_students=set()
for i in range(5):
    i=i+1
    best_students.add('mujeeb')
    best_students.add('muhib')
    best_students.add('anees')
    best_students.add('farhan')
    best_students.add('bashir')
print(best_students)

{'muhib', 'bashir', 'mujeeb', 'farhan', 'anees'}

In [31]:
best_students={'bassam','usman','rafeh','ahad','wadood'}
best_students.remove('rafeh')
best_students.remove('wadood')
print(best_students)

{'bassam', 'ahad', 'usman'}

set()